@import "./Vars.scss";
.cuisin-section{
    padding: 10rem 0;
    text-align: center;
    h2{
        margin-bottom: 4rem;
    }
    &__cards{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 5rem 0;
        gap: 2rem;
        @include md(){
            grid-template-columns: repeat(3,1fr);
        }
    }
}