@import "./Vars.scss";


.cuisine-header{
    h2{
        text-align: center;
        margin: 5rem 0;
        padding: 1.5rem 0;
        color: $color-black;
        background-color: $light-grey;
        border-radius: 1rem;
        font-weight: 400;
        strong{
            color: $color-primary;
        }
    }
}

.cuisine-header__container{

    display: grid;
    column-gap: 1rem;
    grid-template-columns: repeat(3,1fr);
    row-gap: 1rem;
    margin: 3rem 0;
    @include lg(){
        grid-template-columns: repeat(6,1fr);
    }
    .card.active{
        background-color: $color-primary;
        color: $color-white;
    }
  
}