@import "./Vars.scss";
.hero{
    background-color: $light-grey;
    margin-top: 2rem;
    height: calc(100vh - 8rem);
    border-top: 3px solid $color-primary;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    max-height: 70rem;
    @include md(){
        border-top: 3px solid $color-primary;
        height: calc(100vh - 10rem);
    }
    @include lg(){
        flex-direction: row;
        padding: 4rem 2rem;
        align-items: center;
        border-top: unset;
        border-left: 3px solid $color-primary;
        height: calc(100vh - 20rem);
        border-radius: 1rem;
        margin-top: 4rem;
    }
    @include xlg(){
        padding: 3rem 2rem;
        height: calc(100vh - 10rem);
        margin-top: 2rem;
        border-left: 4px solid $color-primary;
    }

    &__img{
        flex: 1;
        @include center-elements();
        position: relative;
        @include lg(){
            order: 2;
        }
        &--img{
            width: 80%;
            @include sm(){
                width: 50%;
            }
            @include md(){
                height: 100%;
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: 1rem;
                padding: 2rem 0;
            }
            @include lg(){
                width: 100%;
                gap: 2rem;
            }

            @include xlg(){
                margin-left: auto;
                padding: 1rem 2rem;
                justify-content: flex-end;
            }
          

            .pizza-icon,.plate-img,.pizza-img,.salad-img{
                display: none;
            }
            @include md(){
                .plate-img,.pizza-img,.burger-img,.salad-img{
                    width: 100%;
                    @include center-elements();
                    background-color: $color-white;
                    border-radius: 1rem;
                    img{
                        
                        width: 12rem;
                        object-fit: cover;
                    }
                    
                }
            }
            @include xlg(){
                .plate-img,.pizza-img,.burger-img,.salad-img{
                    height: 100%;
                    width: 100%;   
                    img{
                        width: 80%;
                    }
                }
            }

            .burger-img{
                position: relative;
                z-index: 100;
            }
        }
    }
    &__content{
        flex: 1;
        text-align: center;
        padding: 0 1rem;
        height: 100%;
        @include lg(){
            order: 1;
            text-align: left;
            width: 100%;
            @include center-elements();
            flex-direction: column;
            align-items: flex-start;
        }

        & > *{
            @include sm(){
                margin: 0 auto;
                text-align: center;
                width: 80%;
            }
            @include md(){
                width: 80%;
            }
            @include lg(){
                margin: unset;
                text-align: left;
            }
        }
        h1{
            line-height: 1.2;
            margin-bottom: 2rem;
            text-transform: capitalize;
            @include md(){
                font-size: 4rem;
                margin-top: 3rem;
            }
            @include lg(){
                font-size: 4rem;
                width: 100%;
                line-height: 1.3;
            }
            @include xlg(){
                font-size: 5rem;
                line-height:1.4;
            }

        }
        p{
            font-size: 1.5rem;
            color: $text-secondary;
            margin-bottom: 3rem;
            @include md(){
                font-size: 1.6rem;
            }
            @include lg(){
                width: 100%;
            }
        
        }
        .btn{
            padding: 1.5rem 2rem;
            background-color: $color-primary;
            width: 100%;
            border-radius: 5px;
            color: $color-white;
            transition: all .3s ease;
            @include sm(){
                width: 20rem;

            }
            @include md(){
                width: unset;
                padding: 1.5rem 3rem;
                font-weight: 700;
                margin-top: 2rem;
            }
            &:hover{
                background-color: $color-primary-hover;
            }

        }
    }
}