@import "./Vars.scss";

.single-hero{
    margin-top: 2rem;
    @include lg(){
        display: flex;
    }
    &__img{
        height: 30rem;
        border-radius: 1rem;
        width: 100%;
        overflow: hidden;
        // @include sm(){
        //     height: 40rem;
        // }
        @include md(){
            // height: 45rem;
            order: 2;
        }
        @include lg(){
            height: 50rem;
            display: flex;
            justify-content: flex-end;
            align-items: center;
        }
        img{
            height: 100%;
            width: 100%;
            object-fit: cover;
            @include lg(){
                height: 90%;
                width: 90%;
                border-radius: 1rem;
            }
        }
    }
    &__content{
        order: 1;

        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        @include sm(){
            align-items: flex-start;
        }
        @include lg(){
            justify-content: center;
        }
        .title-single{
            margin-top: 2rem;
            text-align: center;
            @include sm(){
                margin-top: 4rem;
                font-size: 4rem;
                line-height: 1.4;
                text-align: left;
                margin-bottom: 2rem;
            }
        }
       
    }
}